* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: purple;
  border: 1px solid black;
  .nav {
    background-color: purple;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    .logo-image {
      flex-grow: 3;
    }
    .menu-item {
      background-color: aqua;
      flex-grow: 1;
      border: 1px solid black;
      text-decoration: none;
      padding: 20px;
      color: red;
      text-align: center;
    }
    a.menu-item {
      align-self: center;
    }
  }
}
.main {
  background-color: yellow;
  text-align: center;
    div {
      .box-item {
        border: 1px solid black;
        min-height: 328px;
        .box-image{
          height: calc(100% - 30px); 
          img {
            width: 100%;
            max-width: 600px;
            object-fit: cover;
            height:100%;
            object-fit: scale-down;
          }
        }
        .box-description {
          position: absolute;
          bottom: 0;
          width: calc(100% - 30px); 
          height:35px;
        }
      }
    }
}

